* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Balsamiq Sans', cursive;
}

#navbar {
    position: sticky;
    height: 10vh;
    width: 100%;
    display: flex;
    background-color: #e0c69c;
    text-decoration: none;
    /* border:1px solid black; */
}

#navbar>p {
    color: rgb(14, 2, 109);
    border: 2px solid black;
    background-color: aqua;
    padding: 2.4vh 4vw;
    margin-top: auto;
    margin-left: 1vW;
    border-radius: 2rem;
}

#navbar>ul {
    position: absolute;
    list-style: none;
    display: flex;
    width: 55%;
    margin-left: 25%;
    justify-content: space-evenly;
    margin-top: 4vh;
}

#navbar ul li a {
    border: 2px solid rgb(31, 74, 83);
    border-radius: 20px;
    padding: 0.2vW 2vW;
    color: black;
}

#navbar ul li a:hover {
    color: black;
    background: white;
    border: 3px solid blue;
}

#home #logo img {
    position: absolute;
    height: 115px;
    width: 135px;
    padding: 0 80%;
}

#home {
    display: flex;
    align-items: center;
    justify-content: center;
}

#home img {
    width: 100%;
    height: 450px;
}

.h1 {
    position: absolute;
    display: flex;
    margin-left: 50px;
    font-size: 25px;
}

#header_section{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e0c69c;
    height: 4vW;
    font-size: 2.5rem;
    border: 3px solid blue;
}

.main-h1 {
    text-align: center;
    color: #ff1313;
    margin-left: 124px;
}

#logo {
    position: relative;
}

#products {
    display: flex;
    flex-wrap: wrap;
    background-color: #e0c69c;
}

.box {
    border: 3px solid blue;
    margin: 4px;
    text-align: center;
    background-color: #dcaa59;
    width: 48.9vW;
}

#contact {
    display: flex;

}

.con {
    text-align: center;
    margin: 0px 75px;
}

.foot {
    text-align: center;
    color: #dcaa59;
    background-color: black;
    padding: 10px;
}